@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary: #F2C94C;
    --black: #333333;
    --width-break:600px;
    --kalam: 'kalam', cursive;
}

button{
    background-color: var(--primary);
    font-family: var(--kalam) ; 
    /* border-radius: 0.3rem; */
    height: 50px;
    width: 150px;
    border: 0px solid var(--primary);
    /* box-shadow: 2px; */
    /* padding: 0.1rem 0.3rem */
}

body{
    margin: 0;
    font-family: 'kalam', cursive;
}

/* #btn-Translate{
    background-color: #fbbf24;
    color: black;
    font-family: sans-serif;
    font-size: medium;
} */

nav {
    padding: 1rem 3rem;
    background-color: var(--primary);
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#container--div{
    /* background-color: #475569; */
    margin: 10px 0px;
    /* padding: 40px 0 0 60px; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
}

.flex-item{
    padding: 40px 40px;
}

span{
    padding: 20% 20%;
}

textarea {
    font-family: sans-serif;
    height: 10rem;
    width: 30rem;
    font-family:sans-serif;
    
}



#btn--div{
    /* padding: 0.5rem 2rem; */
    display: block;
}

footer{
    position: fixed;
    text-align: center;
    background-color:var(--primary);
    width:auto;
    bottom: 0;
}